body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: blue;
}

.header {
    background-color: #333;
    color: blue;
    padding: 1em;
}

.container {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
}